/* remove ugly scroll-bars */
.isc_all_image_list_box {
  overflow: unset !important;
}
.isc_all_image_list_box th {
  text-align: left;
}
/* hide column with attachment-ID */
.isc_all_image_list_box tr > :first-child {
  display: none;
}
