.wp-block-fortepress-newspaper-columns {
  grid-column-gap: 4.5rem;
  grid-column-gap: var(--wp--style--block-gap, 4.5rem);
  -moz-column-gap: 4.5rem;
       column-gap: 4.5rem;
  -moz-column-gap: var(--wp--style--block-gap, 4.5rem);
       column-gap: var(--wp--style--block-gap, 4.5rem);
}
